/* Css Reset  */
*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Css Variables */
:root{
    --navbar-height:59px;
}

/* Navigation bar */
#navbar{
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
    z-index: 1;
 
}

#navbar::before{
    content:"";
    background-color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.7;
    
}
/* logo and image */
#logo{
    margin: 1px 4px;
}
#logo img{
    height:36px;
    margin: 5px 11px;
}
/* List styling */
#navbar ul{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
}
#navbar ul li{
   
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: rgb(3, 73, 64);
    background-color:rgb(248, 212, 242);
}
/* home section */
#home{
    display:  flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 675px;
    
    justify-content: center;
    align-items: center;

}
#home::before{
    
    content:"";
    background: url(../img/Sections/bg.jpg) no-repeat center center/cover;
    background-color: black;
    position: absolute;
    height: 716px   ;
    width: 100%;
    z-index: -2;
    opacity: 0.9;
    top: 0;
    left: 0;
    
}   
#home h1{
    color: rgb(255, 29, 29);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
#home p{
    color: rgb(138, 243, 0);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}
/* utility class */
.hprimary{
    font-size: 2.8rem;
    padding:12px;
    font-family: 'Josefin Sans', sans-serif;
}
.hsecondry{
    font-size: 1.8rem;
    padding:12px;
    font-family: 'Josefin Sans', sans-serif;
    
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(116, 8, 8);
    color: white;
    border-radius: 15px;
    margin: 17px;
    cursor: pointer;
}
.center{
    text-align: center;
}
footer{
    background: black;
    color: white;
    padding: 9px;
}
/* more attraction  */
#services{
    display: flex;
    margin: 34px;
}
#services .box{ 
    border: 2px solid brown;
    padding:34px;
    margin: -27px 6px;
    border-radius: 28px;
    background-color: rgb(255, 196, 173);
}
#services .box img{
   height: 160px;
   margin: auto;
   display: block;
   padding: 5px;
}

/* CLIENT section */
#client{
    display:flex;
   justify-content: center;
    align-items: center; 
    
}
#client .clientitem img{
   height: 150px;
}
.clientitem{
    padding: 14px 30px;
   border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 16px;    
}
#csection{
    /* height: 290px; */
    position: relative;
    margin-top:48px;
}
#csection::before{
    
    background: url(../img/Sections/clients.jpg)no-repeat center center/cover;
    content: "";
   opacity: 0.8;
    position: absolute;

    z-index: -1;
    width: 100%;
    height: 100%;
}
/* contact section */
#contact{
    position: relative;
    margin-top: 20px;
}
#contactbox{
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#contact::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.7;
    background: url(../img/Sections/contact.jpg)center center/cover;
}
#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 0.3rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contactbox{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 34px;
}
#contactbox form{
    width: 40%;
}
#contactbox label{
    font-family: 'Baloo Bhai 2', cursive;
}